@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: roboto, sans-serif
}

/**https://www.figma.com/file/wTaLjX57boxncQGA6ue1li/Front-end-Aula11-CaixasFlexiveis?node-id=1%3A2**/

header{
    width: 100%;
    height: 100px;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
body{
    background-color: #E5E5E5 ;
}
.nav__header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px ;
}
a{
    color: white;
    text-decoration: none;
}
.menu__header{
    display: flex;
    gap: 10px;
    list-style-type: none;
}
.container {
    display: flex;
    margin: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.card__delivery  {
    width: 490px;
    height: 350px;
    background-image: url(../img/delivery.jpg);
    background-repeat: no-repeat;

}
.card__descrição h2 {
    width: 490px;
    height: 350px;
    text-align: center;
    color: red
  }
  
.card__descrição span {
    color: white;
}
.card__menu  {
    width: 490px;
    height: 350px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.card__titulo{
    font-size: 20px;
    color: red;
}
.card__cardapio{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 25px;
}

footer{
    background-color: #222222;
    height: 150px ;
    padding: 30px;
}
.nav__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav__footer li{
    list-style-type: none;
    line-height: 25px;
}
