@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: roboto, sans-serif
}

/**https://www.figma.com/file/wTaLjX57boxncQGA6ue1li/Front-end-Aula11-CaixasFlexiveis?node-id=1%3A2**/


.container{
    width: 100%;
    height: 100px;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    padding: 20px;
    /*flex-direction: column;
    justify-content: end;
    gap: px;
    flex-wrap: wrap;
    align-items: center;*/
}

.menu  {
    color: #F3F3F3;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    list-style-type: none;
        
}

.logo  {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 20px;
    top: 25px;
} 


.box1{
    width: 100px;
    height: 100px;
    flex-grow: 1;

}